<h1>Manage Players</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add players</li>
        <li>Update player names</li>
        <li>Delete players</li>
        <li>Assign players to a DM</li>
    </ul>
</div>

<div>
    <form>
      <fieldset>
        <legend><h3>Add a player</h3></legend>
          <label for="first_name">First Name:
            <input type="text" class="inputField" name="first_name" id="first_name" size="100" maxlength="100">
          </label>
          <br/>
          <label for="last_name">Last Name:
            <input type="text" class="inputField" name="last_name" id="last_name" size="100" maxlength="100">
          </label>
          <br/>
          <!-- This is for demo purposes. Production will populate list from
            database -->
          <label for="dm_select"> Dungeon Master:</label>
          <select id="dm_select">
            <option value="">--Choose an available DM--</option>
            {{#each dm}}
            <option value="{{dmId}}">{{dm}}</option>
            {{/each}}
          </select>
          <br/>
          <input type="submit" id="addPlayer">
      </fieldset>
    </form>
</div>

<div id="playerTable">
  <h1>Players</h1>
    <table>
      <thead>
        <tr>
          <th hidden></th>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Dungeon Master </th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
        <tr>
          <td hidden> {{this.id}} </td>
          <td> {{this.first_name}} </td>
          <td> {{this.last_name}} </td>
          <td> {{this.dm}} </td>
          <td>
            <form>
              <input type="submit" value="Delete" class="btn">
            </form>
          </td>
          <td>
            <form>
              <input type="submit" value="Update" class="btn">
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>