<h1>Manage Classes</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add a class</li>
        <li>Update class attributes</li>
    </ul>
</div>

<div>
  <form id="addClass" action="/manageClasses" method="post">
    <fieldset>
      <legend><h3>Add a class</h3></legend>
        <!-- This is for demo purposes. Production will populate lists from
        database -->
        <label for="class_name">Class Name:
          <input type="text" class="inputField" name="class_name" id="class_name" size="30" maxlength="20" required>
        </label>
        <br/>

        <label for="hit_die">Hit Die:</label>
        <select name="hd_select" id="hd_select" required>
            <option value="">--Select a hit die size--</option>
            <option value="6">d6</option>
            <option value="8">d8</option>
            <option value="10">d10</option>
            <option value="12">d12</option>
        </select>

        <br/>

        <label for="armor_select">Armor:</label>
        <select name="armor_select" id="armor_select" required>
            <option value="">--Select an armor type--</option>
            <option value="0">None</option>     <!--Will convert this to NULL for sql-->
            <option value="Light">Light</option>
            <option value="Medium">Medium</option>
            <option value="Heavy">Heavy</option>
          </select>
        <br/>

        <label for="saving_throw_1_select">Saving Throw #1:</label>
        <select name="saving_throw_1_select" id="saving_throw_1_select">
            <option value="">--Select an attribute--</option>
            <option value="Strength">Strength</option>
            <option value="Dexterity">Dexterity</option>
            <option value="Constitution">Constitution</option>
            <option value="Intelligence">Intelligence</option>
            <option value="Wisdom">Wisdom</option>
            <option value="Charisma">Charisma</option>
          </select>
        <br/>

        <label for="saving_throw_2_select">Saving Throw #2:</label>
        <select name="saving_throw_2_select" id="saving_throw_2_select">
            <option value="">--Select an attribute--</option>
            <option value="Strength">Strength</option>
            <option value="Dexterity">Dexterity</option>
            <option value="Constitution">Constitution</option>
            <option value="Intelligence">Intelligence</option>
            <option value="Wisdom">Wisdom</option>
            <option value="Charisma">Charisma</option>
          </select>
        <br/>

        <input type="submit" value="Add Class" id="addClass" class="btn">
    </fieldset>
  </form>
</div>

<div id="classTable">
  <h1>Classes</h1>
    <table>
      <thead>
        <tr>
          <th hidden></th>
          <th> Class Name </th>
          <th> Hit Die </th>
          <th> Armor </th>
          <th> Saving Throw #1 </th>
          <th> Saving Throw #2 </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {{#each classes}}
          <tr>
              <td hidden> {{this.id}} </td>
              <td> {{this.className}} </td>
              <td> {{this.hitDie}} </td>
              <td> {{this.armor}} </td>
              <td> {{this.savingThrow1}} </td>
              <td> {{this.savingThrow2}} </td>
              <td>
                  <form action="/manageClasses/{{id}}" method="get">
                      <input type="submit" value="Update" />
                  </form>
              </td>
              <td><button onclick="deleteRow('Classes', {{id}})">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>