<h1>Manage Characters</h1>
<div class="page_desc">
  <p>This page allows you to</p>
    <ul>
      <li>Add a character</li>
      <li>Update character attributes</li>
      <li>Delete a character</li>
      <li>Add a class to a character</li>
      <li>Update character class levels</li>
    </ul>
</div>

<div>
  <form id="addCharacter" action="/manageCharacters" method="post">
    <fieldset>
      <legend><h3>Add a character</h3></legend>
        <label for="player_select">Select Player:</label>
          <select id="player_select" name="player_select" required>
            <option value="">--Choose an available Player--</option>
            {{#each players}}
            <option value="{{playerId}}">{{playerName}}</option>
            {{/each}}
          </select>
        <br/>

        <label for="character_name">Character Name:
          <input type="text" class="inputField" name="character_name" id="character_name" size="100" maxlength="100" required>
        </label>
        <br/>

        <label for="race_select">Select Race:</label>
          <select id="race_select" name="race_select" required>
              <option value="">--Select a race--</option>
              {{#each races}}
              <option value="{{raceId}}">{{raceName}}</option>
              {{/each}}
          </select>
        <br/>

        <label for="class_select">Select Starting Class:</label>
          <select id="class_select" name="class_select" required>
              <option value="">--Select a class--</option>
              {{#each classes}}
              <option value="{{classId}}">{{className}}</option>
              {{/each}}
          </select>
        <br/>


        <label for="background">Character Background:
            <input type="text" class="inputField" name="background" id="background" size="100" maxlength="100" wrap required>
        </label>
        <br/>
        <input type="submit" value="Add Character" id="addCharacter" class="btn">
    </fieldset>
  </form>
</div>

<div id="characterTable">
    <h1>Characters</h1>
    <div id="sortDiv">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort">
            <option value="">--Select a sorting option--</option>
            <option value="Player">Player</option>
            <option value="Race">Race</option>
            <option value="Class">Primary class</option>
        </select>
        <br />

        <select id="sortPlayer" class="sortSelect" hidden>
            <option value="">--Select a Player--</option>
            {{#each players}}
                <option value="{{playerId}}">{{playerName}}</option>
            {{/each}}
        </select>
        <select id="sortRace" class="sortSelect" hidden>
            <option value="">--Select a Race--</option>
            {{#each}}
                <option value="{{raceId}}">{{raceName}}</option>
            {{/each}}
        </select>
        <select id="sortClass" class="sortSelect" hidden>
            <option value="">--Select a Class--</option>
            {{#each}}
                <option value="{{classId}}">{{className}}</option>
            {{/each}}
        </select>

    </div>
    <table>
        <thead>
            <tr>
                <th hidden></th>
                <th> Player Name </th>
                <th> Character Name </th>
                <th> Race </th>
                <th> Primary Class </th>
                <th> Level </th>
                <th> Background </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {{#each characters}}
            <tr>
                <td hidden> {{this.id}} </td>
                <td> {{this.playerName}} </td>
                <td> {{this.characterName}} </td>
                <td> {{this.race}} </td>
                <td>
                    {{this.primaryClass}}
                </td>
                <td> {{this.levels}}</td>
                <td> {{this.background}} </td>
                <td>
                    <form action="/manageCharacters/{{id}}" method="get">
                        <input type="submit" value="Update" />
                    </form>
                </td>
                <td><button onclick="deleteRow('Characters', {{id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>