<h1>Manage Players</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add players</li>
        <li>Update player names</li>
        <li>Delete players</li>
        <li>Assign players to a DM</li>
    </ul>
</div>

<div>
    <form id="addPlayer" action="/managePlayers" method="post">
      <fieldset>
        <legend><h3>Add a player</h3></legend>
          <label for="first_name">First Name:
            <input type="text" class="inputField" name="first_name" id="first_name" size="100" maxlength="100" required>
          </label>
          <br/>
          <label for="last_name">Last Name:
            <input type="text" class="inputField" name="last_name" id="last_name" size="100" maxlength="100" requied>
          </label>
          <br/>
          <label for="dm_select"> Dungeon Master:</label>
          <select id="dm_select" name="dm_select" required>
            <option value="">--Choose an available DM--</option>
            {{#each dms}}
            <option value="{{dmId}}">{{dmName}}</option>
            {{/each}}
            <option value="">Self</option>
          </select>
          <br/>
          <input type="submit" id="addPlayer" value="Add Player" class="btn">
      </fieldset>
    </form>
</div>

<div id="playerTable">
  <h1>Players</h1>
    <table>
      <thead>
        <tr>
          <th hidden></th>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Dungeon Master </th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
          <tr>
              <td hidden> {{this.id}} </td>
              <td> {{this.firstName}} </td>
              <td> {{this.lastName}} </td>
              <td> {{this.dmName}} </td>
              <td>
                  <form action="/managePlayers/{{id}}" method="get">
                      <input type="submit" value="Update" />
                  </form>
              </td>
              <td><button onclick="deleteRow('Players', {{id}})">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>