<h1>Manage Races</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add a race</li>
        <li>Edit race attributes</li>
        <li>Assign race special attributes</li>
    </ul>
</div>

<div>
  <form>
    <fieldset>
      <legend><h3>Add a race</h3></legend>
        <label for="character_name">Race Name:
          <input type="text" class="inputField" name="race_name" id="race_name" size="10" maxlength="10">
        </label>
        <br/>

        <label for="lifespan">Lifespan (years):
          <input type="number" class="inputField" name="lifespan" id="lifespan" min="-1">
        </label>
        <br/>

        <label for="height">Height (meters):
          <input type="number" class="inputField" name="height" id="height" min="0" step="0.01">
        </label>
        <br/>

        <label for="weight">Weight (kilograms):
          <input type="number" class="inputField" name="weight" id="weight" min="0" step="0.01">
        </label>
        <br/>

        <label for="speed">Speed:
          <input type="number" class="inputField" name="speed" id="speed" min="0" step="0.01">
        </label>
        <br/>

        <label for="special_select">Special:</label>
        <select id="special_select">
              <option value="">--Select a special attribute--</option>
              {{#each specials}}
              <option value="{{specialId}}">{{special}}</option>
              {{/each}}
          </select>
          <br/>

        <input type="submit" value="Add Character" id="addCharacter" class="btn">
    </fieldset>
  </form>
</div>

<div id="raceTable">
  <h1>Races</h1>
    <table>
      <thead>
        <tr>
          <th hidden></th>
          <th> Race Name </th>
          <th> Lifespan </th>
          <th> Height </th>
          <th> Weight </th>
          <th> Speed </th>
          <th> Specials </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {{#each races}}
        <tr>
          <td hidden> {{this.id}} </td>
          <td> {{this.raceName}} </td>
          <td> {{this.lifespan}} </td>
          <td> {{this.height}} </td>
          <td> {{this.weight}} </td>
          <td> {{this.speed}} </td>
          <td>
            <ul>
              {{#each specials}}
              <li>{{this.special}}</li>
              {{/each}}
            </ul>
          </td>
          <td>
            <form>
              <input type="submit" value="Update" class="btn">
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>

<a href="/">Home</a>