<h1>Update Player: {{player.player_first_name}} {{player.player_last_name}}</h1>

<div>
    <form>
      <fieldset>
        <legend><h3>Enter new information for {{player.player_first_name}}</h3></legend>

          <label for="first_name">First Name:
            <input type="text" class="inputField" name="player_first_name" id="player_first_name" size="100" maxlength="100" value="{{player.player_first_name}}">
          </label>
          <br/>

          <label for="last_name">Last Name:
            <input type="text" class="inputField" name="player_last_name" id="player_last_name" size="100" maxlength="100" value="{{player.player_last_name}}">
          </label>
          <br/>

          <p>Current Dungeon Master: {{player.dm.currentDM}}</p>

          <label for="dm_select"> Dungeon Master: </label>
          <select id="dm_select">
            <option value="">--Choose an available DM--</option>
            {{#each dms}}
            <option value="{{dmId}}">{{dmName}}</option>
            {{/each}}
          </select>
          <br/>
          <input type="submit" id="addPlayer">
      </fieldset>
    </form>
</div>