<h1>Update {{character.characterName}}</h1>

<div>
  <form id="updateCharacter">
    <fieldset>
      <legend><h3>Enter new information for {{character.characterName}}</h3></legend>
        <label for="character_name">Character Name:
          <input type="text" class="inputField" name="character_name" id="character_name" size="100" maxlength="100" value="{{character.characterName}}" required>
        </label>
        <br/>

        <label for="player_select">Player:</label>
            <select id="player_select" name="player_select" required>
                {{#each players}}
                    <option value="{{playerId}}">{{playerName}}</option>
                {{/each}}
            </select>
        <br />

        <label for="race_select">Race:</label>
            <select id="race_select" name="race_select" required>
                {{#each races}}
                    <option value="{{raceId}}">{{raceName}}</option>
                {{/each}}
            </select>
        <br />

        <label for="background">Character Background:
            <input type="text" class="inputField" name="background" id="background" size="100" maxlength="100" wrap value="{{character.background}}" required>
        </label>
        <br/>

        <button onclick="updateRow('Characters', {{character.characterId}}, '#updateCharacter')">Update</button>
        <br/>

        <table>
          <thead>
            <tr>
              <th hidden></th>
              <th> Class </th>
              <th> Level </th>
              <th> Primary Class</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            {{#each charClasses}}
            <tr>
              <td hidden> {{classId}}</td>
              <td> {{className}} </td>
              <td>
                <input type="number" class="inputField" min="1" value="{{level}}">
              </td>
              <td>
                <input type="submit" value="Update Level" id="updateLevel" class="btn">
              </td>
                <td>{{primaryClass}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <br/>

        <label for="class_select">Select a new class to add:</label>
        <select id="class_select">
              <option value="">--Select a class--</option>
              {{#each classes}}
              <option value="{{classId}}">{{className}}</option>
              {{/each}}
          </select>
        <br/>

        <input type="submit" value="Add Class" id="addClass" class="btn">
    </fieldset>
  </form>
</div>