<h1>Update Player: {{player.player_first_name}} {{player.player_last_name}}</h1>

<div>
    <form id="updatePlayer">
      <fieldset>
        <legend><h3>Enter new information for {{player.player_first_name}}</h3></legend>

          <label for="first_name">First Name:
            <input type="text" class="inputField" name="player_first_name" id="player_first_name" size="100" maxlength="100" value="{{player.player_first_name}}">
          </label>
          <br/>

          <label for="last_name">Last Name:
            <input type="text" class="inputField" name="player_last_name" id="player_last_name" size="100" maxlength="100" value="{{player.player_last_name}}">
          </label>
          <br/>

          <p>Current Dungeon Master: {{player.dm.currentDM}}</p>

          <button onclick="updateRow('Players', {{player.player_id}}, '#updatePlayer')">Update</button>
      </fieldset>
    </form>

    <form id="changeDM" action="/managePlayers/{{player.player_id}}" method="post">
      <fieldset>  
          <label for="dm_select"> Select Dungeon Master: </label>
          <select id="dm_select" name="dm_select" required>
            <option value="">--Choose an available DM--</option>
            {{#each dms}}
            <option value="{{dmId}}">{{dmName}}</option>
            {{/each}}
            <option value="">Self</option>
          </select>
          <br/>
          <input type="submit" id="addPlayer" value="Change DM" class="btn">
      </fieldset>
    </form>
</div>